---
import weatherApi from "../services/weather.service";

import Layout from "../layouts/Layout.astro";
import WeatherDays from "../components/WeatherDays.astro";

const weather = await weatherApi();

if (!weather) {
  return null;
}
---

<Layout title="Welcome to Astro.">
  <main class="main-container relative">
    <!-- NOTE: Mirar a ver si lo puedo hacer mejor. Usar un padding aquí no me gusta -->
    <section class="text-center pt-24 space-y-2">
      <h1 class="text-8xl text-white">{weather.current.temp_c}º</h1>
      <h2 class="text-3xl text-white">{weather.location.name}</h2>
    </section>

    <section
      class="absolute bottom-0 w-full flex flex-col gap-y-2 p-4 bg-neutral-800/50"
    >
      <article
        class="flex justify-between border-b-gray-dark border-b text-white"
      >
        <p class="text-xl">Monday</p>

        <p>{weather.location.localtime.split(" ")[0]}</p>
      </article>

      <WeatherDays />
    </section>
  </main>
</Layout>

<style>
  .main-container {
    height: 100vh;
    background-image: url("./images/sunny.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
