---
import forecastWeather from "../services/forecast.service";

import CloudIcon from "./icons/CloudIcon.astro";
import LightningIcon from "./icons/LightningIcon.astro";
import RainIcon from "./icons/RainIcon.astro";
import SunIcon from "./icons/SunIcon.astro";

const forecast = await forecastWeather();
const forecastDays = forecast.forecast.forecastday;

if (!forecast) {
  return null;
}

// NOTE: Echar un vistazo a la doc. Dejo archivo en public para tener los códigos a mano.
const renderIcon = (weatherCode: number) => {
  switch (weatherCode) {
    case 1000:
      return SunIcon;
    case 1003 || 1006 || 1009:
      return CloudIcon;
    case 1063:
      return RainIcon;
    case 1087 || 1117:
      return LightningIcon;
    // Agrega más casos según los códigos que necesites
    default:
      return null;
  }
};
---

<article class="flex justify-between text-gray">
  {
    forecastDays.map((forecastDay: any) => {
      const Icon = renderIcon(forecastDay.day.condition.code);
      return (
        <div class="flex flex-col items-center gap-y-1">
          <p>Tue.</p>
          {Icon && <Icon width={25} height={25} />}
          <p>{forecastDay.day.avgtemp_c}º</p>
        </div>
      );
    })
  }
</article>
